.modalBackground {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContainer {
  border-radius: 12px;
  width: 40vw;
  background-color: rgb(236, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 3px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  background-color: rgb(187, 205, 238);
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
  border: none;
}

.modalContainer .body {
  flex: 50%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: left;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 7px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

.modalContainer .footer button:hover {
  transform : translateY(6%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 3px;
}

#cancelBtn {
  background-color: crimson;
}

#updateBtn {
  background-color: rgb(34 197 94);
}